[submodule "libusb-vanilla"]
	path = libusb-vanilla
	url = https://github.com/libusb/libusb.git
[submodule "libusb-wasi"]
	path = libusb-wasi
	url = git@github.com:idlab-discover/libusb-wasi.git
[submodule "rusb-wasi"]
	path = rusb-wasi
	url = git@github.com:siwieme/rusb-wasi.git
[submodule "wasi-usb"]
	path = wasi-usb
	url = git@github.com:idlab-discover/wasi-usb.git
[submodule "usb-wasm"]
	path = usb-wasm
	url = git@github.com:idlab-discover/usb-wasm.git
