[submodule "libusb-vanilla"]
	path = libusb-vanilla
	url = https://github.com/libusb/libusb.git

[submodule "libusb-wasi"]
	path = libusb-wasi
	url = https://github.com/idlab-discover/libusb-wasi.git

[submodule "rusb-wasi"]
	path = rusb-wasi
	url = https://github.com/siwieme/rusb-wasi.git
